<footer class="footer ">
    <a target="_blank" href="https://linkedin.com/in/mingming-li-752571217">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/linkedin.svg') }}"/>
    </a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100070968422758">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/facebook.svg') }}"/>
    </a>
    <a target="_blank" href="https://www.instagram.com/mingmingli916/">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/instagram.svg') }}"/>
    </a>
    <a target="_blank" href="https://twitter.com/mingmingli916">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/twitter.svg') }}"/>
    </a>
    <a target="_blank" href="https://www.github.com/mingmingli916">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/github.svg') }}"/>
    </a>
    <a target="_blank" href="https://leetcode.com/mingmingli916">
        <img class="sidebar-social" src="{{ url_for('static',filename='social/leetcode.svg') }}"/>
    </a>
{#    <a target="_blank" href="https://www.kaggle.com/mingmingli916">#}
    {#        <img class="sidebar-social" src="{{ url_for('static',filename='social/kaggle.svg') }}"/>#}
    {#    </a>#}
</footer>