<ul class="notebooks">
    {% for notebook in notebooks %}
        <li class="notebook">
            <table>
                <tr>
                    <td class="notebook-image">
                        {% if notebook.image %}
                            {% set imagename = 'notebook/' + notebook.image %}
                            <a href="{{ url_for('static', filename=imagename) }}">
                                <img class="img-rounded" src="{{ url_for('static', filename=imagename) }}">
                            </a>
                        {% else %}
                            <img class="img-rounded"
                                 src="{{ url_for('static',filename='notebook/default.png') }}">
                        {% endif %}
                    </td>
                    <td class="notebook-content">
                        <div class="notebook-header">
                            {% set filename = 'notebook/' + notebook.file %}
                            <a href="{{ url_for('static', filename=filename) }}">
                                <h4>{{ notebook.file_show_name }}</h4>
                            </a>
                        </div>
                        <div class="notebook-body">
                            {{ notebook.introduction }}
                        </div>
                        <div class="notebook-author-and-date">
                            <div class="notebook-author">
                                <a href="{{ url_for('.user', username=notebook.author.username) }}">
                                    {{ notebook.author.username }}
                                </a>
                            </div>
                            <div class="notebook-date">
                                {{ moment(notebook.timestamp).fromNow() }}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="notebook-footer">
                {% if current_user == notebook.author %}
                    <a href="{{ url_for('.edit_notebook', id=notebook.id) }}">
                        <span class="label label-warning">Edit</span>
                    </a>
                {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('.edit_notebook', id=notebook.id) }}">
                        <span class="label label-danger">Edit [Admin]</span>
                    </a>
                {% endif %}
                <a href="{{ url_for('.notebook', id=notebook.id) }}">
                    <span class="label label-info">Permalink</span>
                </a>
                <a href="{{ url_for('.notebook', id=notebook.id) }}#comments">
                    <span class="label label-primary">{{ notebook.comments.count() }} Comments</span>
                </a>
            </div>
        </li>
    {% endfor %}
</ul>